header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

.logo {

    display: flex;
    flex-direction: row;
    align-items: center;
}
.Tlogo {
    font-size: 110px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 
        0 0 10px rgba(102, 0, 170, 0.8), 
        0 0 20px rgba(131, 4, 131, 0.5), 
        0 0 30px purple; 
}


body {
    background: linear-gradient(90deg, White 0%, purple 100%);
}


ul {
    font-size: 35px;
    display: flex;
    justify-content: space-around;
    padding: 0;
    gap: 5px;
    list-style-type: none;
    a {
        color: white;
        -webkit-text-stroke: 0.7px violet;
    }

}

.main-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;               
    max-width: 1200px;        
    margin: 50px auto;        
    padding: 40px;            
    border-radius: 20px;      
    backdrop-filter: blur(10px);
    .nav {
        color: white;
    }             
}

.main {
    color: aqua;
}